<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <div>
    <h1>Your Cute Puppy Creation</h1>

    <!-- POST puppy instance from from in create_puppy.erb -->
    <%= @puppy %>

    </div>
  </body>
</html>
